<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
	<meta http-equiv = "X-UA-Compatible" content = "ie="edge>
	<link rel="stylesheet" href = "style.css">
	<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
       <script type="application/javascript" src="scripts/client.js"></script>
	<title>Deep Space</title>
</head>

	<body onload="Init();">
		
		<div id = "counter">
			<h2>Score: <span>0</span></h2>
		</div>
		<div id = "app">
		<ul>
	  		<li><a href="index.html">Single Player Mode</a></li>
			<li><a href="twoplayer.html">Two Player Mode</a></li>
			<li><a href="about.html">About the Project</a></li>
			<div class = "login">
				<li> <button onclick="document.getElementById('loginButton').style.display='block'">Login</button> </li>
				<li> <button onclick="document.getElementById('signUpButton').style.display='block'">Sign Up</button> </li>
			</div>
		</ul>
		
		<!-- The Modal -->
		<div id="loginButton" class="loginBox">
		  <span onclick="document.getElementById('loginButton').style.display='none'"class="close" title="Close Modal">&times;</span>

		  <!-- Modal Content -->
		  <form class="modal-content animate">
		    <div>
		      <img src="avatars/avatar2.jpg" alt="Avatar" class="avatar">
		    </div>

		    <div class="container">
		    	<form>
				  <b>Username:</b><br>
				  <input type="text" v-model="username" placeholder="Enter Username"><br>
				  <b>Password:</b><br>
				  <input type="text" v-model="password" placeholder="Enter Password"><br>
				  <button type="button" @click="SignIn">Log In</button>
				  <button type="button" onclick="document.getElementById('loginButton').style.display='none'" class="cancelbtn">Cancel</button>
				</form>
		    </div>

		  </form>
		</div>

		<div id="signUpButton" class="SignUpBox">
		  <span onclick="document.getElementById('signUpButton').style.display='none'"class="close" title="Close Modal">&times;</span>

		  <!-- Modal Content -->
		  <form class="modal-content2 animate">
		    <div>
		      <h><b>Select Avatar</b></h>
		      <table>
            		<tr>
                	     <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar1.jpg" value = "avatar1" v-model = "avatar" class="hover-shadow"></button>
               		     </td>
               	 	     <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar2.jpg" class="hover-shadow"></button>
                	     </td>
                	     <td>                   
                   		 <button type="button" @click="SetImage"><img src="avatars/avatar3.jpg" class="hover-shadow"></button>
               		     </td>
			     <td>                   
                   		 <button type="button" @click="SetImage"><img src="avatars/avatar4.jpg" class="hover-shadow"></button>
               		     </td>
            	      </tr>
		      <tr>
                	     <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar5.jpg" class="hover-shadow"></button>
               		     </td>
               	 	     <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar6.jpg" class="hover-shadow"></button>
                	     </td>
                	     <td>                   
                   		 <button type="button" @click="SetImage"><img src="avatars/avatar7.jpg" class="hover-shadow"></button>
               		     </td>
			     <td>                   
                   		 <button type="button" @click="SetImage"><img src="avatars/avatar8.jpg" class="hover-shadow"></button>
               		     </td>
            	      </tr>

           	      <tr>
			    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar9.jpg" class="hover-shadow"></button>
                	    </td>
                	    <td>                  
                    		<button type="button" @click="SetImage"><img src="avatars/avatar10.jpg" class="hover-shadow"></button>
                	    </td>
                	    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar11.jpg" class="hover-shadow"></button>
               		    </td>
			    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar12.jpg" class="hover-shadow"></button>
               		    </td>

            	     </tr>
		     <tr>
			    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar13.jpg" class="hover-shadow"></button>
                	    </td>
                	    <td>                  
                    		<button type="button" @click="SetImage"><img src="avatars/avatar14.jpg" class="hover-shadow"></button>
                	    </td>
                	    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar15.jpg" class="hover-shadow"></button>
               		    </td>
			    <td>
                    		<button type="button" @click="SetImage"><img src="avatars/avatar16.jpg" class="hover-shadow"></button>
               		    </td>
            	     </tr>

     		   </table>		    
		 </div>

		    <div class="container">
		    	<form>
				  <b>Username:</b><br>
				  <input type="text" v-model="username" placeholder="Enter Username"><br>
				  <b>Password:</b><br>
				  <input type="text" v-model="password" placeholder="Enter Password"><br>
				  <b>Repeat Password:</b><br>
				  <input type="text" v-model="password2" placeholder="Enter Password"><br>
				  <button type="button" @click="SignUp">Sign Up</button>
				  <button type="button" onclick="document.getElementById('signUpButton').style.display='none'" class="cancelbtn">Cancel</button>
				</form>
		    </div>

		  </form>
		</div>

		
		<div class = "leaderboard">
		<button type="button" @click="Leaderboard">Leaderboard</button>
		<table>
  		     <tr>
   			 <th>UserName</th>
    			<th>Score</th>
  		     </tr>    
		    <tr v-for="leaderboard in leaderboards">
    			<td>{{leaderboard.Username}}</td>
    			<td>{{leaderboard.HighestScore}}</td>
  		    </tr>
		    

		</table>
		</div>
	</div>
	<div id = 'game_area'>
			<img id = 'player' src = "sprites/player.png">
			<!-- <img id = 'player2' src = "sprites/player2.png"> -->
		</div>
		<script type = "text/javascript" src = "scripts/script.js"></script>
	</body>
</html>